.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}

body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
}
h2{
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #11999E;
}
span{
    text-decoration: underline;
}

.css-image{
    width: 18%;
    float: right;
    margin-left: 30px;
}

.html-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.middle-container{
  
}

.bottom-container{
    
}

.skill-row{
    text-align: left;
    margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
}

.profile-image{
    width: 185px;
}

.bottom-cloud{
    position: absolute;
    left: 20%;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 20%;
}